@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}